:root {
  --color-fade: #929292;
  --color-fade-light: #b7b7b7;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--color-fade-light);
}

h2 {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-fade-light);
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-bottom: 1px solid var(--color-fade);
}

li {
  margin-bottom: 10px;
}


button {
  color: #fff;
  background: var(--color-fade);
  border: 0;
  outline: 0;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background: var(--color-fade-light);
}
button:active {
  background: var(--color-fade);
}

input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-fade);
  outline: 0;
}

.card {
  margin: 24px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-1 {
  column-gap: 10px;
  row-gap: 10px;
}

.mt-1 {
  margin-top: 10px;
}

@keyframes rainbowAnimation {
  0% { 
    background-position: 200%;
  }
  100% { 
    background-position: 0%;
  }
}

.text-rainbow {
  background: linear-gradient(90deg, violet, indigo, blue, violet);
  background-size: 200%;
  background-clip: text;
  color: transparent;
  animation: rainbowAnimation 2s linear infinite;
}
